// base color
$cus_pink: #feb7bb;
$cus_lightBlue: #a9e3e4;
$cus_yellow: #f4de4d;
$cus_lightPink: #e9e5e2;
$cus_lightPurple: #bbafd7;
$cus_blue: #2e74ff;
$cus_white: #fdfdfd;

// base style
$cus_radios: 30%;
$cus_background: #fdfdfd;
$cus_line-grey: #e5e7eb;
