// base color
$cus_pink: #feb7bb;
$cus_lightBlue: #a9e3e4;
$cus_yellow: #f4de4d;
$cus_lightPink: #e9e5e2;
$cus_lightPurple: #bbafd7;
$cus_blue: #2e74ff;
$cus_white: #fdfdfd;

$light: #f6f6f9;
$primary: #1976d2;
$light-primary: #cfe8ff;
$grey: #eee;
$dark-grey: #aaaaaa;
$dark: #363949;
$danger: #d32f2f;
$light-danger: #fecdd3;
$warning: #fbc02d;
$light-warning: #fff2c6;
$success: #388e3c;
$light-success: #bbf7d0;

$dark-light: #181a1e;
$dark-grey: #25252c;
$dark-dark: #fbfbfb;
// base style
$cus_radius: 10px;
$cus_background: #fdfdfd;
$cus_line-grey: #e5e7eb;
